.article {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.article__name {
  font-weight: 300;
  font-size: 1.8rem;
}

.article__stats {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}

.article__actions {
  flex-shrink: 0;
}
